#calculator {
    background-color: black;
    width: 300px;
    height: 500px;
    border: 2px solid black;
    margin: auto;
}

#display {
    background-color: blue;
    height: 100px;
    display: flex;
    justify-content: end;
}

#output {
    background-color: lime;
    font-size: xx-large;
    font-weight: bolder;
}

#buttons {
    background-color: aqua;
    height: 400px;
    display: flex;
}

.btn {
    border: 2px solid black;
    height: 76px;
    font-size:x-large;
}

#btnCol1 {
    width: 75px;
    font-weight: bolder;
}

#btnCol2 {
    width: 75px;
    font-weight: bolder;
}

#btnCol3 {
    width: 75px;
    font-weight: bolder;
}

#btnCol4 {
    width: 75px;
    font-weight: bolder;
}

.buttonOperator {
    background-color: crimson;
}